<!--admin-->
<li ${active== "user-list" ? "class='active'" : ""}>
	<a href="${ctxPath }/user/list"> 
		<i class="icon-dashboard"></i>
		<span class="menu-text"> 用户列表 </span>
	</a>
</li>
<li ${active== "work-shop-list" ? "class='active'" : ""}>
	<a href="${ctxPath }/workShop/list"> 
		<i class="icon-dashboard"></i>
		<span class="menu-text">工厂列表</span>
	</a>
</li>
 <li ${active== "factory-list" ? "class='active'" : ""}>
	<a href="${ctxPath }/factory/list"> 
		<i class="icon-dashboard"></i>
		<span class="menu-text">车间列表</span>
	</a>
</li> 
<li ${active== "meter-list" ? "class='active'" : ""}>
	<a href="${ctxPath }/meter/list"> 
		<i class="icon-dashboard"></i>
		<span class="menu-text">电表列表</span>
	</a>
</li>
<li ${active== "degrees-record-list" ? "class='active'" : ""}>
	<a href="${ctxPath}/degreesRecord/listStatistics">
		<i class="icon-dashboard"></i>
		度数记录列表
	</a>
</li>
<li ${active== "degrees-record-statistics-list" ? "class='active'" : ""}>
	<a href="${ctxPath}/degreesRecord/listStatistics">
		<i class="icon-dashboard"></i>
		 电费统计列表
	</a>
</li>
<li ${active== "price-list" ? "class='active'" : ""}>
	<a href="${ctxPath}/price/list">
		<i class="icon-dashboard"></i>
		电费价格列表
	</a>
</li>
