<link type="image/x-icon" rel="shortcut icon" href="${ctxPath}/static/images/favicon.ico" />
<!-- basic styles -->

<link rel="stylesheet" href="${ctxPath}/static/ace/css/bootstrap.min.css" />
<link rel="stylesheet" href="${ctxPath}/static/ace/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/vendor/My97DatePicker/skin/WdatePicker.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/vendor/autocomplete/jquery.autocomplete.css">

<!--[if IE 7]>
  <link rel="stylesheet" href="${ctxPath}/static/ace/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- fonts -->

<link rel="stylesheet" href="${ctxPath}/static/ace/font/font.css" />
	<link rel="stylesheet" href="${ctxPath}/static/ace/css/viewer.min.css" />
	
<!-- ace styles -->

<link rel="stylesheet" href="${ctxPath}/static/ace/css/ace.min.css" />
<link rel="stylesheet" href="${ctxPath}/static/ace/css/ace-rtl.min.css" />
<link rel="stylesheet" href="${ctxPath}/static/ace/css/ace-skins.min.css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="${ctxPath}/static/ace/css/ace-ie.min.css" />
<![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!--[if lt IE 9]>
	<script src="${ctxPath}/static/ace/js/html5shiv.js"></script>
	<script src="${ctxPath}/static/ace/js/respond.min.js"></script>
	<![endif]-->
	

<script src="${ctxPath}/static/ace/js/ace-extra.min.js"></script>
