<div class="page-header">
	<button class="btn ${'info'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/projectInput?id=${projectId! }'">基础信息</button>
	<button class="btn ${'projectTenantInfo'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/projectDetailInput?projectId=${projectId! }'">合作信息</button>
	<button class="btn ${'point'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/addressPoint?id=${projectId! }'" >地址标记</button>
	<button class="btn ${'product'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/product?projectId=${projectId! }'" >产品维护</button>
	<button class="btn ${'houseType'==checkedTab!?'':'btn-primary'}"  onclick="location.href='${ctxPath}/project/houseType?projectId=${projectId! }'"  >户型管理</button>
	<button class="btn ${'commission'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/commission?projectId=${projectId! }'"  >佣金维护</button>
	<button class="btn ${'dynamic'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/dynamic?projectId=${projectId! }'" >楼盘动态</button>
	<button class="btn ${'pic'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/pic?projectId=${projectId! }'" >楼盘相册</button>
	<button  class="btn ${'promotion'==checkedTab!?'':'btn-primary'}"  onclick="location.href='${ctxPath}/project/preferential?projectId=${projectId! }'" >优惠活动</button>
</div>
