<!-- 全局 scripts -->
<script src="${ctxPath}/static/js/jquery-2.1.1.js"></script>
<script src="${ctxPath}/static/js/bootstrap.js"></script>
<script src="${ctxPath}/static/js/wuling.js"></script>
<script src="${ctxPath}/static/js/plugins/pace/pace.min.js"></script>

<script src="${ctxPath}/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${ctxPath}/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- 插件 scripts -->
<script src="${ctxPath}/static/js/plugins/chosen/chosen.jquery.js"></script>
<script src="${ctxPath}/static/js/plugins/toastr/toastr.min.js" async></script><!---顶部弹出提示--->
<script src="${ctxPath}/static/js/plugins/sweetalert/sweetalert.min.js" async></script><!---对话框 alert--->
<script src="${ctxPath}/static/js/plugins/validate/jquery.validate.min.js"></script>  <!---表单验证--->
<script src="${ctxPath}/static/js/plugins/validate/validate-cn.js" ></script> <!---validate 自定义方法--->

<script src="${ctxPath}/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>