<div class="page-header">
	<button class="btn ${'fengmian'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/editInput/${projectId! }'">封面图片</button>
	<button class="btn ${'xiaoguo'==checkedTab!?'':'btn-primary'}"  onclick="location.href='${ctxPath}/project/houseType?projectId=${projectId! }'"  >效果图</button>
	<button class="btn ${'yangban'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/commission?projectId=${projectId! }'"  >样板间</button>
	<button class="btn ${'shijing'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/dynamic?projectId=${projectId! }'" >实景图</button>
	<button class="btn ${'zhoubian'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/addressPoint?projectId=${projectId! }'" >周边配套图</button>
	<button class="btn ${'waijing'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/projectPic?projectId=${projectId! }'" >外景图</button>
	<button class="btn ${'jiaotong'==checkedTab!?'':'btn-primary'}" onclick="location.href='${ctxPath}/project/product?projectId=${projectId! }'" >交通图</button>
</div>
