<div class="modal-header bg-primary">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h4 class="modal-title">添加用户账号</h4>
</div>
<div class="modal-body">

    <form role="form" name="add" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">账号名称</label>
            <div class="col-sm-8">
                <input type="text" name="usseracc" placeholder="请输入6-12位中英文符"  required class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">真实姓名</label>
            <div class="col-sm-8"><input type="text" name="userName" placeholder="请输入姓名,2-4位中文字符" class="form-control"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手机号</label>
            <div class="col-sm-8"><input type="tel" placeholder="请输入11位手机号码" name="phoneNum" class="form-control"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确认手机号</label>
            <div class="col-sm-8"><input type="tel" placeholder="再次输入手机号码" name="sphoneNum" class="form-control"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">电商</label>
            <div class="col-sm-8">
                <select name="business" class="form-control input-s-sm inline">
                    <option value="">请选择账户角色</option>
                    <option value="1">链家网</option>
                    <option value="2">房多多</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色</label>
            <div class="col-sm-8">
                <select name="jiaos" class="form-control input-s-sm inline"  data-toggle-name="#jiaosbox">
                    <option value="" >请选择账户角色</option>
                    <option value="1" data-box-name="lianjia">链家网</option>
                    <option value="2" data-box-name="fangdd">房多多</option>
                </select>
            </div>
        </div>

        <div >
            <div style="display: none">
                <div class="form-group">
                    <label class="col-sm-3 control-label">链家网</label>
                    <div class="col-sm-8">
                        <select name="com" class="form-control input-s-sm inline" required>
                            <option value="">请选择账户角色</option>
                            <option value="1">链家网</option>
                            <option value="2">房多多</option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="display: none">
                <div class="form-group">
                    <label class="col-sm-3 control-label">房多多</label>
                    <div class="col-sm-8">
                        <select name="com" class="form-control input-s-sm inline" required>
                            <option value="">请选择账户角色</option>
                            <option value="1">链家网</option>
                            <option value="2">房多多</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">带搜索选择</label>
            <div class="col-sm-8">
                <select  name="city" data-placeholder="-- 请选择 --"  class="chosen-select" tabindex="2" required>
                    <option value=""></option>
                    <option value="1">楼盘一</option>
                    <option value="2">United Kingdom</option>
                    <option value="3">Afghanistan</option>
                    <option value="4">Aland Islands</option>
                    <option value="5">Albania</option>
                    <option value="6">Algeria</option>
                    <option value="7">American Samoa</option>
                    <option value="8">Andorra</option>
                    <option value="9">Angola</option>
                    <option value="8">Andorra</option>
                    <option value="9">Angola</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">下拉多选</label>
            <div class="col-sm-8">
                <select  data-placeholder="-- 请选择 --"  name="round" multiple class="chosen-select" tabindex="4" required>
                    <option value=""></option>
                    <option value="1">下拉一</option>
                    <option value="2">下拉二</option>
                    <option value="3">下拉三</option>
                    <option value="4">下拉四</option>
                    <option value="5">下拉5</option>
                    <option value="6">下拉6</option>
                    <option value="7">下拉7</option>
                    <option value="8">下拉8</option>
                    <option value="9">下拉9</option>
                    <option value="10">下拉10</option>
                    <option value="11">下拉10</option>
                    <option value="12">下拉10</option>
                </select>
            </div>
        </div>

        <div class="form-group m-t-sm" >
            <div class="col-sm-6 col-sm-push-3">
                <button class="btn btn-md btn-primary " type="submit"><strong>创建用户</strong></button>
                <button type="button" class="btn btn-white m-l-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </form>
</div>